<html>
    <head>
        <title>로그인</title>
        </title>
    </head>
    <body>
        <h1>로그인</h1>
        <form actino="login" method="POST">
            <div>
                ID : 
                <input type="text" name="member_id">
            </div>
            <div>
                PW : 
                <input type="password" name="member_pw">
            </div>
            <div>
                <button type="submit">로그인</button>
            </div>
            
        </form>

    </body>
</html>